 /* COMMON BUTTON STYLE START */
 button {
     padding: 20px 20px;
     font-size: 12px;

     letter-spacing: 2.5px;
     font-weight: 500;
     color: #fff;
     background-color: rgb(243, 16, 16);
     border: none;
     border-radius: 4px;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
     transition: all 0.3s ease 0s;
     cursor: pointer;

 }

 button:hover {
     background-color: #23c483;
     box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
     color: #fff;
     transform: translateY(-7px);
 }

 .fa-greater-than {
     font-size: 10px;
     text-align: center;
     color: #ffffff;
 }

 /* COMMON BUTTON STYLE END */





 /* HEADER STYLE START */

 .two-div {
     display: flex;
     height: 80VH;
     align-items: center;
     justify-content: center;
     background-color: #161616;
     border-radius: 40px;


 }

 .left {
     width: 50%;
     color: white;

 }

 .left h1 {
 margin-top: 0px;
 }

 .left p {
     margin-top: 5px;
 }

 .right {
     width: 30%;

 }
 .right img {
     width: 95%;
    
 }

 /* HEADER STYLE END */
 .blog {
     display: flex;
     margin: 80px;
     justify-content: center;

 }

 .left-blog {
     width: 274px;
     height: 230px;
     background-color: #161616;
     margin-right: 20px;
     border-radius: 20px;
     
 }

 .nowblog {
     border: 1px solid rgb(221, 11, 11);
     margin: 10px;
     background-color: white;
     border-radius: 20px;
     text-align: center;
     padding: 20px;



 }

 .nowblog a {
     text-decoration: none;
     color: black;
 }

 .bgblog {
     background-color: #ff0000;
     border-radius: 20px;

 }

 .right-blog {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     width: 80%;
        gap: 20px;
     

 }

 .box {
     width: 100%;
     padding: 10px;
     box-shadow: 10px 0px 10px #ccc;
 }

 .box img {
     width: 100%;
 }

 .box h4 {
    box-sizing: border-box;
    border: 1px solid gray;
     width: 100%;
     padding: 5px;
     text-align: center;
 }

 .star {
     display: flex;
     justify-content: space-evenly;
 }



 .footer {
     background-color: #161616;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 3%;
     height: 300px;
     justify-items: center;

 }

 .left-footer {
     display: flex;
     justify-content: center;
     margin-bottom: 100px;
 }

 .right-footer {
     display: flex;
     border-top: 2px solid white;
     justify-content: center;
 }

 .right-footer P {
     margin: 10px;
 }

/* Moblie Media */

 @media only screen and (max-width:688px){
     .two-div {
         flex-direction: column;
         margin-top: 10px;
       
        
     }

     .left { 
         width: 30%;
     }

     .left h1 {
       margin-top: 20px;
         font-size: 1.5rem;
         margin-bottom: 0px;
     }
     .min{
        
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden;
     }
    
     

     .right {
         width: 30%;
     }

     .right img {
         width: 100%;
         margin-bottom: 10px;
         margin-top: 10%;
     }

     button {
         padding: 10px;
         font-size: 8px;
        
     }

     .blog {
         flex-direction: column;
         align-items: center;
         
     }

     .left-blog {
        background-color: #ffffff;
        width: 90%;
        margin: 1%;
       
     }

     .right-blog {
         grid-template-columns: repeat(1, 1fr);
         margin-top: 10px;
         width: 100%;
     }
     .box {
            width:100%;
           
     }
     .box img{
        width: 100%;
     }
    
     .left-footer{
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
     }
     .right-footer{
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
     }
     .right-footer P{
        margin: 8px;
     }
 }
  /* moblie media end  */


  /* Tablet Device View  */
  @media only screen and (min-width:689px) and (max-width:992px) {
    .blog {
        flex-direction: column;
        
       
    }
    .left-blog {
        background-color: #ffffff;
      
        display: flex;
        justify-items: center;
        margin-bottom: 10px;
        width: 100%;
        height: 20%;
      
     }

     .right-blog {
         grid-template-columns: repeat(2, 1fr);
         margin-top: 10px;
         width: 100%;
         
     }
     .nowblog{
        width: 90%;
         height: 30px;
         padding: 10px;
         text-align: center;
        
      
     }
     .box {
        width: 90%;
        padding: 10px;
        box-shadow: 20px 0px 10px #ccc;
    }
   
    .box img {
        width: 100%;
        
    }
  }